table {
    border-collapse: collapse;
    font-size: 90%;



}
 
thead, tfoot
{
    background-color: #e4e6e8;
    border: 1px solid #a4abb2;


}
 
tfoot td
{
    border:none;
}
 
tfoot a 
{
    text-decoration: none;
    color: black;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px; 

    vertical-align:middle;
}
 
td, th /*first two rows*/
{
    border: 1px solid #a4abb2;
    
    padding: 5px;

    color: black;

    text-align: left;
      font-family: DIN;
    font-weight: normal;
    vertical-align:middle;
}
 


input[type="date"] {
    vertical-align: middle;
    font-family: DIN;
    color: grey;
    

}

input[type="submit"] {
    vertical-align: middle;
    
}

 
input[type="button"], input[type="submit"], button
{

    background-color: #a3d4ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a3d4ff), to(#88bcf2));
    background-image: -webkit-linear-gradient(top, #a3d4ff, #88bcf2);
    background-image:    -moz-linear-gradient(top, #a3d4ff, #88bcf2);
    background-image:      -o-linear-gradient(top, #a3d4ff, #88bcf2);
    background-image:         linear-gradient(to bottom, #a3d4ff, #88bcf2);
    border-radius:3px;
    display: inline-block;
    line-height: 22px;
    padding:5px 12px;
    margin-top:20px;
    border: 1px solid #88bcf2; 
    color: #FFFFFF;
    font-size: 15px;

  
    text-shadow: 0 1px 1px #70A7E0;
    
}​



input[type="checkbox"] {
    vertical-align: middle;
}
 
input[type="text"] {
   /* border: 1px solid #9babc2;*/
    vertical-align:middle;

}
 
.red_border 
{
    border: 1px solid red;

}
 
.right
{
    text-align: right;

}